:root {
	/* Colors */
	--clr-primary-orange: hsl(31, 77%, 52%);
	--clr-primary-cyan-dark: hsl(184, 100%, 22%);
	--clr-primary-cyan-darkest: hsl(179, 100%, 13%);

	--clr-transparent-white: hsla(0, 0%, 100%, 0.75);
	--clr-gray-light: hsl(0, 0%, 95%);

	/* Typography */
	--fs-primary: 15px;

	--ff-primary: 'Lexend Deca', sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;
}

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 1.5rem;
	font-size: var(--fs-primary);
}

.cards {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	border-radius: 7px;
	overflow: hidden;
	font-family: var(--ff-primary);
}

.cards__sedans {
	background-color: var(--clr-primary-orange);
	padding: 3rem 3rem;
}

.cards__suvs {
	background-color: var(--clr-primary-cyan-dark);
	padding: 3rem 3rem;
}

.cards__luxury {
	background-color: var(--clr-primary-cyan-darkest);
	padding: 3rem 3rem;
}

.cards__title {
	text-transform: uppercase;
	color: var(--clr-gray-light);
	font-size: 1.7rem;
	margin: 1.9rem 0;
}

.cards__description {
	color: var(--clr-transparent-white);
	margin-bottom: 1.6rem;
}

.cards__sedans .cards__button {
	border: none;
	border-radius: 30px;
	color: var(--clr-primary-orange);
	padding: 0.7rem 2rem;
}

.cards__suvs .cards__button {
	border: none;
	border-radius: 30px;
	color: var(--clr-primary-cyan-dark);
	padding: 0.7rem 2rem;
}

.cards__luxury .cards__button {
	border: none;
	border-radius: 30px;
	color: var(--clr-primary-cyan-darkest);
	padding: 0.7rem 2rem;
}

.cards__button:hover {
	cursor: pointer;
	color: var(--clr-gray-light);
	background: none;
	border: 2px solid var(--clr-gray-light);
}

.cards__button:focus {
	outline: none;
}
